.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 30px;
    background-color: #F3F0FA;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    /* background-color: red; */
    width: 80vw;
    gap: 10px;

    margin-top: 20px;
}

.profile-text {
    font-size: 12px;
    color: grey;
}

.bottom-container {
    display: flex;
    justify-content: start;
    align-items: start;
    min-height: 83vh;
    width: 95%;
    /* background-color: rgb(18, 8, 8); */
    gap: 50px;
    padding: 30px 0px;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: relative; */

    background-color: white;

    flex: 1;
    height: 62%;
    min-width: 300px;

    border-radius: 10px;
    gap: 5px;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(128, 76, 76); */
    height: 100%;
    /* width: 65%; */
    flex: 3;
    border-radius: 10px;
    overflow: hidden;
    gap: 30px;
}

.right-top-container {
    height: 65%;
    width: 100%;
    background-color: white;

    border-radius: 10px;
}

.right-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    gap: 10px;

    font-size: 12px;

    /* font-weight: bold; */

}
