.Dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    background-color: var(--mainpage-background-color);
    height: 100vh;

    gap: 50px;

    padding: 0px 30px 0px 30px;
}

.heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

    gap: 10px;
}

.dashboard-text{
    font-size: 12px;
    color: grey;
}

.stats-container{
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    height: 35vh;

    gap: 10px;
}

.task-stats{
    background-color: #dae2f7;
    color: #4F6BFF;
}

.goals-stats{
    background-color: #daf8e9;
    color: #22C55E;
    
}

.streak-stats{
    background-color: #fdf0d6;
    color: #F59E0B;
}

.productivity-stats{
    background-color: #e9d6fd;
    color: #7C3AED;
}

.bottom-dashboard-container{
    display: grid;
    grid-template-columns: 2fr 1fr;

    height: 45vh;

    gap: 50px;
}

.task-container{
    background-color: red;
}

.motivation-container{
    background-color: #22C55E;
}