.task-wrapper-container {
   display: flex;
   flex-direction: column;

   width: 100%;
   min-height: 92vh;

   padding: 40px 6%;
   gap: 30px;

   background: var(--mainpage-background-color);
}

.task-heading-container {
   display: flex;
   justify-content: space-between;
   align-items: center;

   /* background-color: yellow; */

   width: 100%;
}

.filter-container {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 100%;
   height: 100px;
   /* background-color: #7C3AED; */
}

.filter-list {

   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100%;
   min-height: 72px;

   padding: 15px 30px;

   list-style: none;

   background: white;

   border-radius: 14px;

   box-shadow: 0 6px 18px rgba(0,0,0,.06);
}

.filter-list li {
   cursor: pointer;
   list-style-type: none;
}

.filters{

   display:flex;
   align-items:center;
   justify-content:center;

   gap:10px;

   padding:12px 22px;

   border-radius:10px;

   cursor:pointer;

   transition:
      background .25s,
      color .25s,
      transform .25s;
}

.filters:hover{

   background:#f5f3ff;

   color:#7C3AED;

   transform:translateY(-2px);
}

.active-filter{

   background:#ede9fe;

   color:#7C3AED;

   font-weight:600;

   box-shadow:0 4px 10px rgba(124,58,237,.18);
}



.task-list-container{

   width:100%;

   background:white;

   border-radius:16px;

   padding:25px;

   box-shadow:0 8px 25px rgba(0,0,0,.06);
}

.list-container{

   display:flex;
   flex-direction:column;

   gap:14px;

   height: 390px;
   overflow-y:auto;

   padding-right:6px;

}


.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   background-color: rgba(0, 0, 0, 0.7);

   display: flex;
   justify-content: center;
   align-items: center;

   z-index: 1000;
}

.task-head{
   margin: 5px 0px 10px 20px;

}

.list-container::-webkit-scrollbar{

    width:8px;
}
.list-container::-webkit-scrollbar-track{

    background:transparent;
}
.list-container::-webkit-scrollbar-thumb{

    background:#d8d8d8;

    border-radius:20px;
}
.list-container::-webkit-scrollbar-thumb:hover{

    background:#bdbdbd;
}
