/* ==========================
   Page
========================== */

.task-wrapper-container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    gap: 24px;

    padding: 30px;

    background: #f8fafc;
}

/* ==========================
   Header
========================== */

.task-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-left-head {
    display: flex;
    flex-direction: column;

    gap: 6px;
}

.task-left-head h1 {
    font-size: 34px;
    font-weight: 700;

    color: #111827;
}

.task-left-head span {
    font-size: 15px;

    color: #6b7280;
}

.task-right-head {
    display: flex;
    align-items: center;

    gap: 18px;
}

/* ==========================
   Filter Card
========================== */

.filter-container {
    background: white;

    border-radius: 18px;

    padding: 14px 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,.05);
}

.filter-list {
    display: flex;

    gap: 16px;

    list-style: none;

    padding: 0;
    margin: 0;
}

.filters {
    display: flex;
    align-items: center;

    gap: 10px;

    padding: 12px 18px;

    border-radius: 12px;

    cursor: pointer;

    color: #6b7280;

    transition: .25s;
}

.filters:hover {
    background: #f5f3ff;

    color: #7c3aed;

    transform: translateY(-2px);
}

.active-filter {
    background: #ede9fe;

    color: #7c3aed;

    font-weight: 600;
}

/* ==========================
   Task List Card
========================== */

.task-list-container{
    display:flex;
    flex-direction:column;

    width:100%;
   height: 500px;
    background:#ffffff;

    border-radius:18px;

    padding:24px;

    box-shadow:0 10px 30px rgba(0,0,0,.05);
}

.task-list-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding-bottom:18px;

    margin-bottom:20px;

    border-bottom:1px solid #ececec;
}

.task-list-header h2{
    margin:0;

    font-size:24px;
    font-weight:700;

    color:#111827;
}

.task-list-header span{
    padding:8px 16px;

    border-radius:30px;

    background:#F3EDFF;

    color:#7C3AED;

    font-size:14px;
    font-weight:600;
}

.list-container{
    display:flex;
    flex-direction:column;

    gap:18px;

    max-height:520px;

    overflow-y:auto;

    padding-right:8px;
}

/* ==========================
   Scrollbar
========================== */

.list-container::-webkit-scrollbar {
    width: 8px;
}

.list-container::-webkit-scrollbar-thumb {
    background: #d1d5db;

    border-radius: 20px;
}

.list-container::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

/* ==========================
   Modal
========================== */

.modal-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.55);

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(3px);

    z-index: 1000;
}