.secondnavbar-container{
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 10px 20px;
    gap: 20px;
}

.notification-button{
    cursor: pointer;
    /* border: 1px solid black; */
}

.profile-photo{
    height: 45px;
    width: 45px;
    overflow: hidden;
    
    border-radius: 50%;

}

.profile-photo:hover{
    cursor: pointer;
}

.proile-pic{
    object-fit: cover;
}
