.logo-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.logo-img{
    height: 50px;
    width: auto;

    object-fit: contain;

    display: block;
}